{# templates/consultation/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Edit Consultation{% endblock %}

{% block body %}
    <h1>Edit Consultation</h1>

    {{ form_start(form) }}
        {{ form_row(form.service) }}
        {{ form_row(form.date) }}
        {{ form_row(form.patientIdentifier) }}
        <button class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}
{% endblock %}
